@media screen and (max-width: 1024px) {
  .nav__links {
    perspective: none;
  }
  .nav__links li {
    animation: animation5 1s ease forwards;
    transform-origin: right;
    transform: rotateY(-90deg);
  }
  .nav__links li:nth-child(2) {
    animation-delay: 300ms;
  }
  .nav__links li:nth-child(3) {
    animation-delay: 600ms;
  }
  .nav__links li:nth-child(4) {
    animation-delay: 900ms;
  }
  .nav__links li:nth-child(5) {
    animation-delay: 1200ms;
  }

  @keyframes animation5 {
    to {
        transform: rotate(0);
    }
  }
}
